NODE_ENV=development
PORT=4003
AWS_REGION=ap-southeast-1
COGNITO_USER_POOL_ID=ap-southeast-1_n3ugHAJ19
COGNITO_CLIENT_ID=2d1t50b7f5it9936rkdl1366at
PRODUCTS_TABLE_NAME=EuphoriaX-Products
PRODUCT_EVENTS_TOPIC_ARN=arn:aws:sns:ap-southeast-1:xxxxxxxxxxxx:euphoriax-product-events
LOG_LEVEL=info
CORS_ORIGIN=http://localhost:3000
