NODE_ENV=development
PORT=4007
AWS_REGION=ap-southeast-1
PAYMENT_TABLE_NAME=EuphoriaX-Payments
PAYMENT_EVENTS_TOPIC_ARN=arn:aws:sns:ap-southeast-1:xxxxxxxxxxxx:euphoriax-payment-events
LOG_LEVEL=info
CORS_ORIGIN=*