NODE_ENV=development
PORT=4008
AWS_REGION=ap-southeast-1
INVENTORY_TABLE_NAME=EuphoriaX-Inventory
INVENTORY_EVENTS_TOPIC_ARN=arn:aws:sns:ap-southeast-1:xxxxxxxxxxxx:euphoriax-inventory-events
LOG_LEVEL=info
CORS_ORIGIN=*